@charset "UTF-8";

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: linear-gradient(to right, #74ebd5, #ACB6E5);
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	width: 80%;
	margin: auto;
	padding: 20px;
}

/* Title Styling */
h1 {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 42px;
	color: #ffffff;
	text-align: center;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

h2,
h3 {
	color: #2c3e50;
}

/* Login Button */
.login-btn {
	margin-top: 40px;
	padding: 15px 40px;
	font-size: 18px;
	background: #0000ff;
	background: linear-gradient(to right, #0000ff, #0080c0);
	color: white;
	text-decoration: none;
	border-radius: 30px;
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.login-btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}