@charset "UTF-8";

/* Container */
.container {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

/* Card Style */
.table-card {
	background: white;
	padding: 30px;
	width: 80%;
	border-radius: 10px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

/* Heading */
.table-card h2 {
	text-align: center;
	margin-bottom: 25px;
	color: #2c3e50;
}

/* Table Styling */
.reservation-table {
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
}

/* Table Header */
.reservation-table thead {
	background-color: #2c3e50;
	color: white;
}

.reservation-table th {
	padding: 12px;
	text-align: left;
}

/* Table Body */
.reservation-table td {
	padding: 12px;
	border-bottom: 1px solid #eee;
}

/* Hover Effect */
.reservation-table tbody tr:hover {
	background-color: #f4f6f9;
	transition: 0.3s;
}